/* Base styles */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.content-wrapper {
    position: relative; /* Asegura que el pseudo-elemento se posicione correctamente */
    z-index: 1; /* Asegura que el contenido esté sobre el fondo desenfocado */
    background-color: transparent; /* Fondo transparente */
    padding: 20px; /* Ajusta el espacio interior según sea necesario */
}

.content-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/fondo_5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Coloca el fondo detrás del contenido */
}

/* Container */
.container {
    width: 70%;
    margin: auto;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7);;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.main_container {
    width: 65%;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/* Header styles */
header {
    background-color: transparent;
    color: #555;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
    color: #B6C409;
}

header h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

/* Main content styles */
.news-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: -40px;
}

.news-item {
    background-color: #e9e9e9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    list-style-type: none;
}

.news-title {
    font-size: 20px;
    margin: 0 0 10px;
    text-align: left;
}

.news-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.news-meta {
    font-size: 14px;
    color: #999;
    display: flex;
    flex-direction: column;
}

.news-meta .author-date {
    display: flex;
    justify-content: space-between; /* Distribuye el autor a la izquierda y la fecha a la derecha */
    margin-bottom: 20px; /* Añade margen debajo de esta línea */
}

.news-meta .author {
    flex-grow: 1; /* Asegura que el autor ocupe el espacio disponible */
}

.news-meta .date {
    text-align: right; /* Alinea la fecha a la derecha */
}

.news-meta .source {
    text-align: center; /* Centra el texto del source */
}

.news-meta .source a {
    color: #0066cc;
    text-decoration: none;
}

.news-meta .source a:hover {
    text-decoration: underline;
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 50px;
    padding: 50px 0;
    background-color: #f0f0f0;
}

footer .goodbye {
    color: #fff;
    font-size: 16px;
}

/* Estilos para el contenedor del chat */
#chat-container {
    position: fixed;
    bottom: 30px;
    right: 100px;
    width: 360px;
    z-index: 1000;
    display: none; /* Inicialmente oculto */
}

#chat-window {
    width: 100%;
    height: 350px;
    border-radius: 15px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
    overflow-y: auto;
    flex-direction: column;
    display: flex;
}

.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: fit-content;
    max-width: 80%;
}

.ai-message {
    background-color: #e1f5fe;
    align-self: flex-start;
}

.user-message {
    background-color: #ffecb3;
    align-self: flex-end;
}

#input-area {
    display: flex;
    margin-top: 10px;
}

#input-field {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
}

#send-button {
    padding: 10px 20px;
    background-color: #2196f3;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin-left: 10px;
}

#toggle-button {
    position: absolute;
    top: 3px;
    right: -20px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    cursor: pointer;
    z-index: 1001; /* Asegura que esté sobre el chat */
}

#chat-container.maximized {
    position: fixed;
    bottom: 30px;
    right: 100px;
    width: 700px;
    z-index: 1000;
    border-radius: 0; /* Eliminará el redondeado de las esquinas */
}

/* Estilos para el botón de despliegue del chat */
#toggle-chat-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2196f3;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    z-index: 1001;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contador noticias */
/* Inicializar el contador */
.news-list {
    counter-reset: news-counter;
}

.news-item {
    position: relative;
    padding-left: 50px; /* Espacio para el número */
    counter-increment: news-counter; /* Incrementar el contador por cada .news-item */
}

.news-number::before {
    content: counter(news-counter); /* Insertar el valor del contador */
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    background-color: #ff5733;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* Rueda de carga */
/* Spinner styling */
.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #ffbb00;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 10px auto; /* Centrar en el contenedor */
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Estilo opcional para centrar el spinner dentro del chat-window */
#loading-spinner {
    text-align: center;
    padding: 10px;
}
